<hr class="hr">
<footer class="footer">
  <div class="container-fluid">
    <a href="https://www.instagram.com/bails.tale/"><i class="soc-icon fab fa-instagram"></i></a>
    <p class="soc-icon copyright-text">© 2021 Bailey&Scout</p>
  </div>
</footer>
