<hr class="hr">
<footer class="footer">
  <div class="container-fluid">
    <i class="soc-icon fab fa-twitter"></i>
    <i class="soc-icon fab fa-facebook-f"></i>
    <i class="soc-icon fab fa-instagram"></i>
    <i class="soc-icon fas fa-envelope"></i>
    <p class="soc-icon copyright-text">© 2021 Bailey</p>
  </div>
  </footer>

</body>

</html>
