<%- include("partials/head"); -%>
</head>
<body>
  <div class="main-grid">
    <div class="header">
      <%- include("partials/header"); -%>
    </div>
    <main class="main">
      <div class="transparent-bg">
        <div class="about-background"></div>
        <div class="about-header">
          <h1>About Bailey & Scout</h1>
        </div>
        <section class="about-container card-wrap">
          <div class="about about1">
            <ul>
              <li>
                Name: Bailey
              </li>
              <li>
                Nickname: Bails
              </li>
              <li>
                Breed: Shetland Sheepdog Mix
              </li>
              <li>
                Birthday: 01/16/13
              </li>
              <li>
                Adoption Date: 01/21/15
              </li>
            </ul>
          </div>
          <div class="about about2">
            <ul>
              <li>
                Favorite snack: Dental sticks
              </li>
              <li>
                Favorite activity: Fetching (he does not do a great job of bringing the ball back)
              </li>
              <li>
                Other hobbies: Hiking and playing with his brother Scout
              </li>
            </ul>
          </div>
          <div class="about about3">
            <ul>
              <li>
                Name: Scout
              </li>
              <li>
                Nickname: Boy Scout
              </li>
              <li>
                Breed: American Shorthair Tabby
              </li>
              <li>
                Birthday: 02/24/2019
              </li>
              <li>
                Found on the streets in 2019 as a kitten
              </li>
            </ul>
          </div>
          <div class="about about4">
            <ul>
              <li>
                Favorite snack: His kibble
              </li>
              <li>
                Favorite activity: Sleeping (He probably sleeps 14-16 hours day)
              </li>
              <li>
                Other hobbies: Hunting small critters, getting annoyed by his brother, Bailey
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <%- include("partials/footer"); -%>
    </footer>
  </div>
  <script src="..\js\animations.js"></script>
</body>
