<%- include("partials/header"); -%>
<section class="color-sec">
  <div class="container-fluid-about">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="about-header">About Bailey</h1>
      </div>
    </div>
    <div class="row about-row">
      <div class="col-lg-6">
        <p class="aboutusContent">
          Name: Bailey <br>
          Nickname: Bails <br>
          Breed: Shetland Sheepdog Mix <br>
          Birthday: 01/16/13 <br>
          Adoption Date: 01/21/15
        </p>
      </div>
      <div class="col-lg-6">
        <img class="about-img" src="/images/bailsBeach.jpg">
      </div>
    </div>
    <div class="row about-row">
      <div class="col-lg-6">
        <img class="about-img2" src="/images/bailsTongue.jpg">
      </div>
      <div class="col-lg-6">
        <p class="aboutusContent">
          Favorite snack: Dental sticks <br>
          Favorite activity: Fetching (does not bring ball back) <br>
          Other hobbies: Hiking and playing with his friend Scout
          </p>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h2>Bonus Scout Picture</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <img class="about-img3"src="/images/scoutmad.jpg" alt="">
      </div>
    </div>
  </div>
</section>
<%- include("partials/footer"); -%>
