<%- include("partials/head"); -%>

<body>
  <div class="main-grid">
    <div class="header">
      <%- include("partials/header"); -%>
    </div>
    <main class="main">
      <div class="contact-backgound"></div>
        <div class="contact-container">
          <div class="contact-card">
            <img class="contact-img" src="/images/bailsmodel.jpg">
            </img>
            <div class="contact-info">
              Name: Bailey <br />
              Cellphone number: (098)123-4567 <br />
              Email: Baileyiscute@email.com <br />
              Address: 42 Wallaby Way, Sydney <br />
            </div>
          </div>
          <div class="contact-card">
            <img class="contact-img" src="/images/scoutyelloweyes.jpg">
            </img>
            <div class="contact-info">
              Name: Scout <br />
              Cellphone number: (098)123-4567 <br />
              Email: Scoutiscute@email.com <br />
              Address: 42 Wallaby Way, Sydney <br />
            </div>
          </div>
        </div>
    </main>
    <footer class="footer">
      <%- include("partials/footer"); -%>
    </footer>
  </div>
</body>
