<%- include("partials/header"); -%>
<section class="color-sec">
  <div class="container-fluid">
    <h1>Contact Us</h1>
    <div class="contact-container">
      <div class="row">
        <div class="col-lg-12">
          <img class="contact-img" src="/images/bailsBlep.jpg" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
            aute

        </div>
      </div>
    </div>
  </div>
</section>

<%- include("partials/footer"); -%>
