<%- include("partials/head"); -%>
</head>
<body>
  <div class="main-grid">
    <div class="header">
      <%- include("partials/header"); -%>
    </div>
    <main class="main">
      <div class="transparent-bg">
        <div class="contact-backgound"></div>
        <div class="contact-header">
          <h1>Contact Bailey & Scout</h1>
        </div>
        <section class="contact-container">
          <div class="contact-card card-wrap">
            <img class="contact-img" src="/images/bailsmodel.JPG">
            </img>
            <div class="contact-info">
              <ul class="contact-list">
                <li>
                  Name: Bailey
                </li>
                <li>
                  Cellphone number: (098)123-4567
                </li>
                <li>
                  Email: Baileyiscute@email.com
                </li>
                <li>
                  Address: 42 Wallaby Way, Sydney
                </li>
              </ul>
            </div>
          </div>
          <div class="contact-card card-wrap">
            <img class="contact-img" src="/images/scoutyelloweyes.jpg">
            </img>
            <div class="contact-info">
              <ul class="contact-list">
                <li>
                  Name: Scout
                </li>
                <li>
                  Cellphone number: (098)123-4567
                </li>
                <li>
                  Email: Scoutiscute@email.com
                </li>
                <li>
                  Address: 42 Wallaby Way, Sydney
                </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </main>
    <footer class="footer">
      <%- include("partials/footer"); -%>
    </footer>
  </div>
  <script src="..\js\animations.js"></script>
</body>
