<%- include("partials/header"); -%>
<section class="color-sec">
  <div class="container-fluid color-sec">
    <form class="form-signin" action="/signup" method="post">
      <img class="mb-4 signup-img" src="/images/bailsCouch.jpg">
      <h1 class="h3 mb-3 font-weight-normal">Please sign up for more Bailey Pics!</h1>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" name="userEmail" class="form-control" placeholder="Email address" required autofocus>
      <button class="btn btn-lg btn-dark btn-block" type="submit">Bailey Pics!</button>
    </form>
  </div>
</section>
<%- include("partials/footer"); -%>
