<%- include("partials/head") -%>
</head>
<body>
<%- include("partials/header") -%>
<div class="container-fluid">
  <h1 class="success">Successfully signed up for more Bailey!</h1>
</div>
<%- include("partials/footer") -%>
</body>
