@import "_variables.scss"; /* Section color */
/* Home Section */
// .bailsface-img {
//   margin: -10% 0 -20% 30%;
//   border-radius: 3%;
//   transform: rotate(27deg);
//   box-shadow: 3px 3px 5px #000000;
//   max-width: 750px;
// }
.header-flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  width: 100vw;
  height: 100vh;
}

.transparent-bg-home {
  height: 100vh;
  width: 100vw;
  background-color: rgba(59, 105, 120, 0.6);
}

.home-background {
  background: url("/images/baileyDigging.jpg") center/cover;
  background-color: rgba(59, 105, 120, 0.6);
  z-index: -1;
  filter: grayscale(40%);
  width: 50vw;
  height: 100%;
  position: absolute;
}

.home-background2 {
  background: url("/images/scoutBlanket.jpg") center/cover;
  filter: grayscale(40%);
  width: 50vw;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-left: 50%;
}



.title-heading {
  font-size: 5rem;
  padding: 20rem 25rem 0;
  line-height: 1.5;
  font-weight: 700;
  text-align: center;
}

.title-content {
  text-align: center;
  font-size: 1.5rem;
  color: map-get($colors, tertiary);
  padding-bottom: 0;
}


/* Bails carousel */
.carousel {
  padding: 6rem 0;
}

.carousel-sec {
  @include display-flex();
  position: relative;
  width: 100%;
  margin: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}

.card-wrap{
  max-width: 100%;
  opacity: 0;
  transform: translateY(300px);
  transition: all .5s ease-in-out;

  &.card-fade {
    opacity: 1;
    transform: translateY(0px);
  }
}

.carousel-inner {
  width: 100%;
}

.carousel-img {
  width: 50vw;
}
/* Background Videos */
.vid-1-cont {
  padding: 7% 0 0;
}


.vid-container {
  position: relative;
  height: 80vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}


.home-vid {
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
}

.vid-header {
  position: relative;
  color: map-get($colors, tertiary);
  align-self: center;
  margin: auto;

  h2 {
    font-size: 3rem;
  }
}

/* Home Form */
.home-fade-wrap {
  width: 25%;
  height: auto;
  box-sizing: border-box;
  margin-top: auto;
  opacity: 0;
  transform: translateY(300px);
  transition: all .5s ease-in-out;

  &.form-fade {
    opacity: 1;
    transform: translateY(0px);
  }
}

.home-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: map-get($colors, main);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
  padding: 3rem 5rem 10rem;
}



.home-form-title {
  color: map-get($colors, tertiary);
}

// Buttons
.signup-btn, .about-btn {
  background: none;
  color: map-get($colors, tertiary);
  border-radius: 0;
  box-shadow: 1px 1px 3px #000000;
  letter-spacing: 0.35em;
  font-size: 1.1rem;
  padding: 0.25rem 2.3rem;
  margin-top: 1rem;
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3;

  &.btn-color {
    box-shadow: inset 0 0 1em rgba(0,160,150,0.3), 0 0 1em rgba(0,160,150,0.3);
    border: darken(map-get($colors, secondary), 20) solid 2px;
  }

  &.btn-color:hover {
    background-color: (map-get($colors, secondary));
    box-shadow: inset 0 0 0 rgba(0,170,170,0.3), 0 0 1.5em rgba(0,170,170,0.3);
  }

  &.btn-color2:hover {
    box-shadow: inset 0 0 0 rgba(211,211,211,0.5), 0 0 1.5em rgba(211,211,211,0.7);
  }

}

/* Bails image grid */
.home-img-container {
  padding: 10% 0 3%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.home-img-sec {
  position: relative;
  height: 100vh;
  width: 100%;
  margin-bottom: 5%;
}

.img-wrap {
  position: relative;
  padding: 5% 0 0 1%;
  height: 80vh;
  width: 1px;
  overflow: hidden;
  opacity: 0;
}

.img-flex-l {
  display: flex;
  height: 100%;
  flex-direction: row;
  padding-left: 5%;
}

.img-flex-r {
  display: flex;
  height: 100%;
  flex-direction: row-reverse;
  padding-right: 5%;
}

.img-wrap.active {
  width: 50vw;
  opacity: 1;
  transition: opacity 0s, width 2s;
}

.img-wrap.active > .img {
  transform: scale(1);
  transition: 0.5s ease-out;
}

.home-imgs {
  box-shadow: $boxshadow;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.6);
  filter: grayscale(20%);
}

.home-des {
  position: absolute;
  opacity: 0;
  font-size: 3rem;
  top: 70%;
  z-index: 2;
  transition: .1s;
  color: lighten(map-get($colors, secondary), 10);
}

.home-des.active {
  opacity: 1;
  transition: 3s;
}


// Iphone 6plus - X portrait
@media (max-width: 640px) and (orientation: portrait) {
  .header-flex-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
  }

  .home-background {
    background: url("../images/bailsGarden.jpg") center/cover;
    z-index: -1;
    width: 100%;
    height: 50%;
    position: absolute;
  }

  .home-background2 {
    background: url("../images/scoutBlanket.jpg") center/cover;
    filter: grayscale(40%);
    width: 100%;
    height: 50%;
    transform: translateY(50vh);
    position: absolute;
    z-index: -1;
  }


  .transparent-bg-home {
    height: 100%;
    width: 100vw;
    background-color: rgba(59, 105, 120, 0.6);
  }

  h1.title-heading {
    text-align: center;
    font-size: 2rem;
    padding: 15rem 2rem 0;
  }

  .subtext-heading {
    font-size: 0.8rem;
    padding: 0 2rem;
  }

  // Videos
  .vid-1-cont {
    padding: 20% 0 0;
  }

  .vid-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .vid-header h2 {
  font-size: 1.5rem;
  }

  .home-vid {
    width: 100%;
    padding-bottom: 2rem;
    height: 100vh;
  }

  .bails-vid {
    padding-bottom: 15rem;
  }

  // Carousel
  .carousel {
  padding: 7rem 0;
}
  .carousel-inner {
    width: 100vw;
  }

  .carousel-img {
    width: 100%;
    height: 100%;
  }


  // form
  .home-fade-wrap {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    opacity: 0;
    margin-top: 3rem;
    transform: translateY(1rem);
    transition: all .5s ease-in-out;

    &.form-fade {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  .home-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: map-get($colors, main);
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    padding: 2rem 5rem;
  }

  .home-form-title {
    font-size: 1rem;
  }

  // Button
  .signup-btn {
    margin-top: 0;
  }

  /* Bails image grid */
  .home-img-container {
    padding: 2rem 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }


  .home-img-sec {
    position: relative;
    height: 70vh;
    width: 100%;
    margin-bottom: 0;
  }

  .img-wrap {
    position: relative;
    padding: 1% 0 0;
    height: 100vh;
    width: 1px;
    overflow: hidden;
    opacity: 0;
  }

  .img-flex-l {
    @include display-flex();
    padding-left: 0;
    height: 100%
  }

  .img-flex-r {
    @include display-flex();
    padding-right: 0;
    height: 100%;
  }

  .img-wrap.active {
    width: 100%;
    opacity: 1;
    transition: opacity 0s, width 2s;
  }

  .img-wrap.active > .img {
    transform: scale(1);
    transition: 0.5s ease-out;
  }

  .home-imgs {
    height: 80%;
    box-shadow: $boxshadow;
  }

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transform: scale(1.5);
    filter: grayscale(20%);
  }

  h2.home-des {
    position: absolute;
    opacity: 0;
    font-size: 1rem;
    top: 92%;
    z-index: -1;
    transition: .1s;
    color: lighten(map-get($colors, secondary), 10);
  }

  h2.home-des.active {
    opacity: 1;
    transition: 3s;
  }
}

// Iphone 6Plus - X landscape
@media (max-width: 1023.8px) and (min-width: 735.9px) and (orientation: landscape) {
  .home-background {
    background: url("../images/bailsGarden.jpg") center/cover;
    background-color: rgba(59, 105, 120, 0.6);
    transform: translateY(0);
    filter: grayscale(40%);
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .home-background2 {
    background: url("../images/scoutBlanket.jpg") center/cover;
    filter: grayscale(40%);
    transform: translateY(0);
    width: 50%;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin: 0 0 0 50%;
  }

  .header-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: -1rem 0 0 0;
    height: 100vh;
  }



    h1.title-heading {
      text-align: center;
      font-size: 2.5rem;
      padding: 6rem 4rem 0;
    }

    .subtext-heading {
      font-size: 1rem;
      padding: 0 2rem;
    }

    .carousel-inner {
      width: 100%;
    }

    .carousel-img {
      max-width: 450px;
    }

    .vid-desc {
      width: 100%;
      padding-bottom: 1rem;
      font-size: 1.5rem;
    }

    .vid-container {
      @include display-flex();
      flex-direction: column;
    }

      .home-vid {
        width: 100%;
        padding: 2rem 0 0;
      }

      .scout-vid {
        padding-top: 0;
        padding-bottom: 3rem;
      }
}


@media (max-width: 768.1px) and (min-width: 640.1px) and (orientation: portrait) {

  .home-background {
    background: url("../images/bailsGarden.jpg") center/cover;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateY(-5rem);
    position: absolute;
  }

  .home-background2 {
    background: url("../images/scoutBlanket.jpg") center/cover;
    filter: grayscale(40%);
    width: 100%;
    height: 60%;
    transform: translateY(-19rem);
    position: absolute;
    z-index: -1;
    margin: 0;
    margin-top: 100%;
  }

  .header-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }


  h1.title-heading {
    text-align: center;
    font-size: 2.75rem;
    padding: 17rem 4rem 0;
  }

  .subtext-heading {
    font-size: 1rem;
    padding: 0 2rem;
  }


  .carousel-inner {
    width: 100%;
  }

  .carousel-img {
    max-width: 600px;
  }

  .vid-desc {
    width: 100%;
    padding-bottom: 1rem;
  }

  .vid-container {
    @include display-flex();
    flex-direction: column;
  }

    .home-vid {
      width: 100%;
      padding: 2rem 0 0;
    }

    .scout-vid {
      padding-top: 0;
      padding-bottom: 4rem;
    }
}
@media (max-width: 1366px) and (min-width: 768.2px) and (orientation: portrait) {
    .home-background {
      background: url("../images/bailsGarden.jpg") center/cover;
      z-index: -1;
      width: 100%;
      height: 75%;
      transform: translateY(1rem);
      position: absolute;
    }

    .home-background2 {
      background: url("../images/scoutBlanket.jpg") center/cover;
      filter: grayscale(40%);
      width: 100%;
      height: 60%;
      transform: translateY(-30rem);
      position: absolute;
      z-index: -1;
      margin: 0;
      margin-top: 100%;
    }

    .header-flex-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      height: 100vh;
    }

  h1.title-heading {
    text-align: center;
    font-size: 3.5rem;
    padding: 18rem 6rem 0;
  }

  .title-content p {
    font-size: 1rem;
  }

  .carousel-inner {
    width: 100%;
  }

  .carousel-img {
    max-width: 600px;
  }

  .vid-desc {
    width: 100%;
    padding-bottom: 1rem;
  }

  .vid-container {
    @include display-flex();
    flex-direction: column;
  }

  .home-vid {
    width: 100%;
    padding: 2rem 0 0;
  }

  .scout-vid {
    padding-top: 0;
    padding-bottom: 4rem;
  }

  .home-img-container {
    padding: 7rem 0 3rem;
  }
}



@media (max-width: 1366px) and (min-width: 1023.9px) and (orientation: landscape) {
  .home-background {
    background: url("../images/bailsGarden.jpg") center/cover;
    background-color: rgba(59, 105, 120, 0.6);
    z-index: -1;
    filter: grayscale(40%);
    width: 50vw;
    height: 100%;
    position: absolute;
  }

  .home-background2 {
    background: url("../images/scoutBlanket.jpg") center/cover;
    filter: grayscale(40%);
    width: 50vw;
    height: 100%;
    position: absolute;
    z-index: -1;
    margin-left: 50%;
  }

  .header-flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }

    h1.title-heading {
      text-align: center;
      font-size: 3.5rem;
      padding: 15rem 6rem 0;
    }

    .title-content p {
      font-size: 1rem;
    }

    .carousel-inner {
      width: 100%;
    }

    .carousel-img {
      max-width: 600px;
    }

    .vid-desc {
      width: 100%;
      padding-bottom: 1rem;
    }

    .vid-container {
      @include display-flex();
      flex-direction: column;
    }

    .home-vid {
      width: 100%;
      padding: 2rem 0 0;
    }

    .scout-vid {
      padding-top: 0;
      padding-bottom: 4rem;
    }

    .home-img-container {
      padding: 7rem 0 3rem;
    }
}
