@import "_variables.scss";
/*backgound*/
.signup-background {
  background: url("../images/scoutmad.jpg") center/cover;
  transform: translateY(2rem);
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  /* position fixed -> element taken out of document flow, positiong context = viewport*/
  position: fixed;
  /* z-index only works if element also has a position property not static */
  z-index: -1;
}

/* Sign up Section */
.signup-container {
  padding:15rem 40rem 0;
  background-color: rgba(59, 105, 120, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}

.signup-img {
  margin: auto;
  width: 200px;
  opacity: 0.6;
  border-radius: 50%;
  box-shadow: 3px 3px 5px #000000;
}

.signup-header {
  font-size: 5rem;
  color: map-get($colors, tertiary);
}

.form-container {
  display: flex;
  padding: 0 0 25rem;
  width: 100%;
  margin: auto;
}


.card-signup {
  margin: auto;
  width: 60%;
}

.form-signin {
  max-width: 20rem;
  border-radius: 3%;
  z-index: 10;
  margin: auto;
  padding: 2rem 2rem;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: 1rem;
}

.signup-btn {
  background-color: map-get($colors, secondary);
  color: map-get($colors, tertiary);
}

@media (max-width: 40rem) {
  .form-container {
    padding: 0 0 10rem;
  }

  .signup-container {
    width: 100%;
    padding: 5rem 0 0 ;
    margin: auto;
    background-color: rgba(59, 105, 120, 0.6);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  .signup-header {
    font-size: 3rem;
  }

  .signup-text {
    font-size: 1.5rem;
    padding: 0 0.5rem;
  }

  .signup-img {
    margin: auto;
    width: 200px;
    opacity: 0.6;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #000000;
  }

}
